export(detect_categorical_vars)
export(modeling)
export(na_input)
export(one_hot_encoder)
export(pre_process)
export(remove_unwanted_cols)
export(run_modeling)
importFrom(caret,confusionMatrix)
importFrom(caret,createDataPartition)
importFrom(caret,findCorrelation)
importFrom(caret,findLinearCombos)
importFrom(caret,train)
importFrom(caret,trainControl)
importFrom(dplyr,across)
importFrom(dplyr,any_of)
importFrom(dplyr,bind_cols)
importFrom(dplyr,mutate)
importFrom(dplyr,select)
importFrom(dplyr,where)
importFrom(logger,log_error)
importFrom(logger,log_info)
importFrom(rpart,rpart)
